body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background: radial-gradient(#fff, #D3F9EC, #9CC1B4);
}

.cart {
    width: 1em;
    height: 1em;
}
.section-header{
    font-family:'Times New Roman', Times, serif ;
    font-weight: bold;
    text-align: center;
    font-size: xx-large
}
 .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(8, 8, 8);
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}
.cart-items{
    display: flex;
    justify-content: flex-start;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 40%;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
#remove-btn :hover{
    color: red;
}
.btnn-danger {
    color: white;
    background-color:none ;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}
.cart-quantity-input {
    height: 35px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #81ead1;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btnn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.content-section {
    margin: 1em;
}

.buttons {
    display: flex;
}

.buttons .btnn-login {
    box-sizing: border-box;
    appearance: none;
    background-color: #34dbdb;
    border: none;
    border-radius: 0.6em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    padding: 1em 1.5em;
    text-align: center;
    font-weight: 700;
    margin: 20px;
} 

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.wrapper {
    background-color: #f4f2f7;
    margin: 20px auto;
    max-width: 400px;
}
.btnn {
    box-sizing: border-box;
    appearance: none;
    background-color: #34bcdb;
    border-radius: 0.6em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.shop-item {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-bottom: 50px;
}

.shop-item-image {
    opacity: 1;
    display: block;
    width: 300px;
    height: 200px;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.shop-item .shop-item-details {
    transition: 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 5px;
    opacity: 0;
}

.shop-item:hover .shop-item-image {
    opacity: 0.3;
    background: transparent;
}

.shop-item .shop-item-details:hover {
    opacity: 1;
}



.detail {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #eee;
}

.detail img {
    margin: 50px;
}

.detail-des {
    width: 50%;
    margin-left: 50px;
}
.button-position{
    display: flex;
    justify-content: space-around;
}
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {

} 

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {

} 

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {


} 

/*
iPHONE 5 MEDIA QUERY
iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { 

  
}
